* {
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: var(--text-color);
}

:root {
    --primary-color: #171100;
    --text-color: #5F5B53;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hero {
    height: 1000px;
}

.btn {
    width: 118px;
    height: 50px;
    border-radius: 999px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn a {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}


.btn a {
    color: #fff;
}

.content {
    width: 1170px;

}

/* Header CSS */

.header {
    padding-top: 36px;
    padding-bottom: 8px;
    position: sticky;
    top: -28px;
    margin-bottom: 64px;
    background-color: #fff;
    z-index: 10000;
}

.header .content {
    display: flex;
    align-items: center;
}

header .logo {
    margin-right: auto;
}

.header .nav {
    display: flex;
}

.header .nav li {
    padding: 8px 21px;
}

.header .nav li a {
    font-size: 16px;
    color: var(--text-color);

}

.header .nav li:first-child a {
    font-weight: 600;
    color: var(--primary-color);
}

.header .btn {
    width: 144px;
    margin-left: 70px;
}

.header .btn a {
    font-size: 16px;
}


/* Hero CSS */

/* ----BG----- */

.hero .content {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 685px;

}

.hero .bg {
    position: relative;
}

.hero .bg>img {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}

.hero .card {
    width: 270px;
    height: 244px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 14px;
    background-color: #fff;
    position: absolute;

    right: -100px;
    top: 393px;
}

.hero .card .course {
    display: flex;
    gap: 16px;
    margin-left: 24px;
}

.hero .course .icon {
    width: 48px;
    height: 48px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;

}

.hero .course .label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .course img {
    width: 24px;
    height: 24px;
}

.hero .course-qty {
    line-height: 26px;
}

.hero .course-name {
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}

.hero .course .icon1 {
    background-color: #FFF9E8;
    ;
}

.hero .course .icon2 {
    background-color: #FCEFFF;
    ;
}

.hero .course .icon3 {
    background-color: #EBEAFF;
    ;
}

/* ----- bg-right-------*/

.hero .bg-right {
    width: 470px;
    height: 204px;
    margin-top: 64px;
}

.hero .bg-right .title {
    color: var(--primary-color);
    font-family: Sen;
    font-size: 58px;
    font-weight: 700;
    line-height: 68px;
    /* 117.241% */
    letter-spacing: -1.16px;
    margin-bottom: 22px;
}

.hero .bg-right .desc {
    font-size: 18px;
    line-height: 30px;
}

.hero .cta-group {
    display: flex;
    gap: 28px;
    margin-bottom: 48px;
    margin-top: 38px;
}

.hero .cta-group .btn {
    background-color: #FFB900;
    width: 180px;
    height: 64px;
}

.hero .cta-group .btn a {
    font-size: 18px;
    font-weight: 600;
}

.hero .cta-group .watch-btn {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}

.play {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.watch-btn img {
    width: 10px;
    height: 12px;
}


.hero .stats {
    display: flex;
    gap: 28px;
    margin-top: 8px;
}

.hero .stats strong {
    color: var(--primary-color);
    font-family: Sen;
    font-size: 44px;
    font-weight: 700;
    /* 122.727% */
}

.hero .stats .item {
    width: 173px;
    height: 54px;
}


/* Courses CSS */

.courses .row-left .title {
    color: #171100;
    font-family: Sen;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.76px;
    margin-bottom: 16px;
}

.courses .row-left .desc {
    font-size: 18px;
    line-height: 30px;
    width: 458px;
    height: 60px;
}

.courses .content .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

.courses .controls {
    display: flex;
    gap: 18px;
}

.courses .controls-btn img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.courses .controls-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 999px;
}

.courses .list-courses {
    margin-bottom: 200px;
}

.courses .courses-item {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 466px;
    border-radius: 12px;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid #E2DFDA;
}

.courses .courses-item>img {
    border-radius: 12px;
    width: 370px;
    height: 278px;
    margin-bottom: 16px;
}

.courses .courses-item .row {
    margin: 16px 22px 12px;
}

.courses .info .view {
    display: flex;
}