* {
    text-decoration: none;
    list-style: none;
}

:root {
    --primary-color: #171100
}

.btn {
    width: 118px;
    height: 50px;
    border-radius: 999px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    height: 1000px;
}

.btn a {
    color: #fff;
}

/* Header CSS */

.header {
    display: flex;
    justify-content: center;
    padding-top: 36px;
    padding-bottom: 8px;
    position: sticky;
    top: -28px;
}

.header .content {
    display: flex;
    align-items: center;
    width: 1170px;
    height: 50px;

}

header .logo {
    margin-right: auto;
}

.header .nav {
    display: flex;
}

.header .nav li {
    padding: 8px 21px;
}

.header .btn {
    width: 144px;
    margin-left: 50px;
}